@import "tailwindcss";

:root {
  --background: #f7fafe;
  --foreground: #404040;
  --primary: #45b8e1;
  --secondary: #fac541;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-fredoka), Arial, Helvetica, sans-serif;
}
